.submit-area {
    margin: 2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .submit-area {
        margin: 6px;
    }

    .input {
        width: 100%;
        font-size: 10px;
        margin-bottom: 5px;
    }

    button {
        font-size: 6px;
        letter-spacing: none;
        padding: none;
    }
}

button {
    font-size: 10px;
    letter-spacing: 1px;
    opacity: 0.6;
    padding: 4px 9px 4px;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
    margin-bottom: 6px;
  }
  
  button:hover {
      opacity: 1;
  }

.input {
    display: inline-block;
    width: 70%;
    border-radius: 8px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}