body, html{
  margin: 0;
  padding: 0;
  background-color: #646464;
  height: 100%;
}

.header {

  width: 100%;
  height: 10rem; 
  background-color: #181818;
  display:flex;
}

.header-t {
  margin:auto;
  font-display: center;
  font-size: 7rem;
  color: #a9a9a9;
  text-shadow: 3px 4px 6px gray;
}